---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "PT Serif", Georgia,"Times New Roman",Times, serif, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
// $background-color: #f3f2ee;
$background-color : snow;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        1200px;

$navy-blue-color:        #000080;
$navy-blue-color-light:  #3333ff;
$navy-blue-color-super-light: lighten($navy-blue-color-light, 5%);

$green-color:        #006030;
$green-color-light:  lighten($green-color, 10%);
$green-color-super-light: lighten($green-color-light, 10%);
$blockquote-color : #0808f8;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$site-title-color : #0808f8;
$section-title-color: #0808f8;
$site-title-font : "PT Serif";
$section-title-font : "PT Serif";

@media print {
  /* Define styles for print output within this block */

  body {
    font-size: 12pt; /* Sets the base font size for the body in print */
  }

  .post-content h1 {
    font-size: 24px;
   }

   .post-content h2 {
    font-size: 20px;
   }

   .post-content h3 {
    font-size: 18px;
   }

   .post-content h4 {
    font-size: 16px;
   }

    .post-content h5 {
    font-size: 14px;
   }

   .post-content h6 {
        font-size: 14px;
   }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
//        "syntax-highlighting",
        "section_counter"
;
