/**
 * Reset some basic elements
 */

 @include-when-export url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext);


:root {
	--active-file-bg-color: #dadada;
	--active-file-bg-color: rgba(32, 43, 51, 0.63);
	--active-file-text-color: white;
	--bg-color: #f3f2ee;
	--text-color: #1f0909;
	--control-text-color: #444;
	--rawblock-edit-panel-bd: #e5e5e5;

	--select-text-bg-color: rgba(32, 43, 51, 0.63);
  --select-text-font-color: white;
}

pre {
	--select-text-bg-color: #36284e;
	--select-text-font-color: #fff;
}

html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

html, body {
	background-color: #f3f2ee;
	font-family: "PT Serif", 'Times New Roman', 'SF Pro', Times, serif;
	color: #1f0909;
	line-height: 1.5em;
}


body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 70%;
    display: block;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



h5, h6 {
    text-decoration: underline;
    font-variant: small-caps;
    font-size: 1.3rem;
    color: $blockquote-color;
}

article > hr  {
    margin-top: -5*$spacing-unit/8;
    margin-bottom: $spacing-unit/2;
    height: 0.5px;
    border: none;
    background-color: $blockquote-color;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid $blockquote-color;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    padding-top: $spacing-unit / 4;
    padding-bottom: $spacing-unit / 4;
    color: black;
    background-color: color-mix(in oklab, $background-color 96%, black );
    > :last-child {
        margin-bottom: 0;
    }
}

strong {
    font-weight: bold;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.footnotes {
    display: block;
    font-size: medium;
    padding-top: 20px;
    margin:20px;
    border-top: 1px dotted $blockquote-color;
}

sup[role="doc-noteref"] {
    vertical-align: inherit;
    font-size: inherit;
}

sup[role="doc-noteref"]::before {
    content: "[";
}

sup[role="doc-noteref"]::after {
    content: "]";
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(1600px - (#{$spacing-unit} * 2));
    max-width:         calc(1600px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: 60;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(1200px - (#{$spacing-unit}));
        max-width:         calc(1200px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
