<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% assign server_side_mathjax = site.server_side_mathjax %}
    {% if page.server_side_mathjax == true or page.server_side_mathjax == false %}
      {% assign server_side_mathjax = page.server_side_mathjax %}
    {% endif %}
    {% unless server_side_mathjax %}
      {% include mathjax_macros.html %}
    {% endunless %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">{{ content }}</div>
    </div>

    {% include footer.html %}
  </body>
</html>
